In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
movies = movies.merge(credits, on='title')

In [6]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
movies = movies[['movie_id', 'title', 'overview','genres', 'keywords', 'cast', 'crew' ]]

In [8]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [9]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [10]:
movies.dropna(inplace=True)

In [11]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [12]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [13]:
import ast

In [14]:
movies['genres'] = movies['genres'].apply(convert)

In [15]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [16]:
movies['keywords'] = movies['keywords'].apply(convert)

In [17]:
def convert3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter!= 3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [18]:
movies['cast'] = movies['cast'].apply(convert)

In [19]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [20]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [21]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [22]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]

In [23]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [24]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [25]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [26]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton]

In [27]:
movies['tags'] = movies['overview'] + movies['keywords'] + movies['genres'] + movies['cast'] + movies['crew']

In [28]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."

In [29]:
new_df = movies[['movie_id' , 'title' , 'tags']]

In [30]:
new_df['tags']= new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\SHIVAM CHOUDHARY\AppData\Local\Temp\ipykernel_14624\335926201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']= new_df['tags'].apply(lambda x:" ".join(x))

In [31]:
new_df.head(2)

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."

In [32]:
new_df['tags'].apply(lambda x:x.lower())

0       in the 22nd century, a paraplegic marine is di...
1       captain barbossa, long believed to be dead, ha...
2       a cryptic message from bond’s past sends him o...
3       following the death of district attorney harve...
4       john carter is a war-weary, former military ca...
                              ...
4804    el mariachi just wants to play his guitar and ...
4805    a newlywed couple's honeymoon is upended by th...
4806    "signed, sealed, delivered" introduces a dedic...
4807    when ambitious new york attorney sam is sent t...
4808    ever since the second grade when he first saw ...
Name: tags, Length: 4806, dtype: object

In [33]:
import nltk

In [34]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [35]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [36]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\SHIVAM CHOUDHARY\AppData\Local\Temp\ipykernel_14624\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [37]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features= 5000, stop_words= 'english')

In [38]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [39]:
from sklearn.metrics.pairwise import cosine_similarity

In [40]:
similarity = cosine_similarity(vectors)

In [41]:
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x:x[:5])

[(4805, np.float64(0.0)),
 (4804, np.float64(0.0)),
 (4803, np.float64(0.04313310928137536)),
 (4802, np.float64(0.04822428221704121)),
 (4801, np.float64(0.01822706541441223)),
 (4800, np.float64(0.0)),
 (4799, np.float64(0.0515539262226467)),
 (4798, np.float64(0.03970724559546876)),
 (4797, np.float64(0.0)),
 (4796, np.float64(0.0)),
 (4795, np.float64(0.0)),
 (4794, np.float64(0.0)),
 (4793, np.float64(0.053916386601719206)),
 (4792, np.float64(0.0)),
 (4791, np.float64(0.0)),
 (4790, np.float64(0.053093187320189895)),
 (4789, np.float64(0.05718696387472675)),
 (4788, np.float64(0.0)),
 (4787, np.float64(0.019062321291575583)),
 (4786, np.float64(0.017492785713532986)),
 (4785, np.float64(0.018630665602665245)),
 (4784, np.float64(0.04075695729696112)),
 (4783, np.float64(0.0)),
 (4782, np.float64(0.025416428388767443)),
 (4781, np.float64(0.0566365471788599)),
 (4780, np.float64(0.0)),
 (4779, np.float64(0.0)),
 (4778, np.float64(0.0)),
 (4777, np.float64(0.10166571355506977)),
 (4776, np.float64(0.0)),
 (4775, np.float64(0.05477910356647767)),
 (4774, np.float64(0.0)),
 (4773, np.float64(0.02934836354418746)),
 (4772, np.float64(0.022733144649015782)),
 (4771, np.float64(0.038124642583151166)),
 (4770, np.float64(0.0)),
 (4769, np.float64(0.0)),
 (4768, np.float64(0.0)),
 (4767, np.float64(0.034099716973523674)),
 (4766, np.float64(0.016638958140993046)),
 (4765, np.float64(0.0)),
 (4764, np.float64(0.0)),
 (4763, np.float64(0.0)),
 (4762, np.float64(0.0)),
 (4761, np.float64(0.025416428388767443)),
 (4760, np.float64(0.024738534799764674)),
 (4759, np.float64(0.018358670483850786)),
 (4758, np.float64(0.0)),
 (4757, np.float64(0.0440225453162812)),
 (4756, np.float64(0.0)),
 (4755, np.float64(0.024738534799764674)),
 (4754, np.float64(0.0808745799025788)),
 (4753, np.float64(0.0)),
 (4752, np.float64(0.026958193300859603)),
 (4751, np.float64(0.02002404328658183)),
 (4750, np.float64(0.0)),
 (4749, np.float64(0.0)),
 (4748, np.float64(0.01809825061715205)),
 (4747, np.float64(0.0)),
 (4746, np.float64(0.0)),
 (4745, np.float64(0.0)),
 (4744, np.float64(0.03179815003744467)),
 (4743, np.float64(0.013921151159742613)),
 (4742, np.float64(0.036986336072765455)),
 (4741, np.float64(0.0)),
 (4740, np.float64(0.0)),
 (4739, np.float64(0.024419314525275217)),
 (4738, np.float64(0.0)),
 (4737, np.float64(0.08151391459392224)),
 (4736, np.float64(0.0)),
 (4735, np.float64(0.0)),
 (4734, np.float64(0.022924988933322468)),
 (4733, np.float64(0.0)),
 (4732, np.float64(0.0)),
 (4731, np.float64(0.02615328904829707)),
 (4730, np.float64(0.02156655464068768)),
 (4729, np.float64(0.0)),
 (4728, np.float64(0.0)),
 (4727, np.float64(0.0515539262226467)),
 (4726, np.float64(0.0)),
 (4725, np.float64(0.0)),
 (4724, np.float64(0.0)),
 (4723, np.float64(0.0)),
 (4722, np.float64(0.038124642583151166)),
 (4721, np.float64(0.0)),
 (4720, np.float64(0.02831827358942995)),
 (4719, np.float64(0.0)),
 (4718, np.float64(0.036986336072765455)),
 (4717, np.float64(0.0)),
 (4716, np.float64(0.0)),
 (4715, np.float64(0.0)),
 (4714, np.float64(0.0)),
 (4713, np.float64(0.022244202665006454)),
 (4712, np.float64(0.02178551004751495)),
 (4711, np.float64(0.06113543594544168)),
 (4710, np.float64(0.0)),
 (4709, np.float64(0.0)),
 (4708, np.float64(0.0)),
 (4707, np.float64(0.025070610528195012)),
 (4706, np.float64(0.021250157716599584)),
 (4705, np.float64(0.0)),
 (4704, np.float64(0.06359630007488934)),
 (4703, np.float64(0.03179815003744467)),
 (4702, np.float64(0.0)),
 (4701, np.float64(0.0)),
 (4700, np.float64(0.02934836354418746)),
 (4699, np.float64(0.053093187320189895)),
 (4698, np.float64(0.0)),
 (4697, np.float64(0.0)),
 (4696, np.float64(0.013863506393873152)),
 (4695, np.float64(0.038124642583151166)),
 (4694, np.float64(0.02156655464068768)),
 (4693, np.float64(0.05477910356647767)),
 (4692, np.float64(0.05763904177042349)),
 (4691, np.float64(0.04883862905055043)),
 (4690, np.float64(0.02178551004751495)),
 (4689, np.float64(0.0)),
 (4688, np.float64(0.0)),
 (4687, np.float64(0.0)),
 (4686, np.float64(0.0)),
 (4685, np.float64(0.0)),
 (4684, np.float64(0.0)),
 (4683, np.float64(0.0)),
 (4682, np.float64(0.0)),
 (4681, np.float64(0.0)),
 (4680, np.float64(0.05477910356647767)),
 (4679, np.float64(0.042295493443781355)),
 (4678, np.float64(0.0)),
 (4677, np.float64(0.0)),
 (4676, np.float64(0.0)),
 (4675, np.float64(0.026546593660094948)),
 (4674, np.float64(0.020947289622255397)),
 (4673, np.float64(0.1132730943577198)),
 (4672, np.float64(0.04496937504132879)),
 (4671, np.float64(0.026546593660094948)),
 (4670, np.float64(0.034534125785498526)),
 (4669, np.float64(0.026958193300859603)),
 (4668, np.float64(0.0)),
 (4667, np.float64(0.02577696311132335)),
 (4666, np.float64(0.02934836354418746)),
 (4665, np.float64(0.0)),
 (4664, np.float64(0.05869672708837492)),
 (4663, np.float64(0.0)),
 (4662, np.float64(0.01985362279773438)),
 (4661, np.float64(0.030499714066520935)),
 (4660, np.float64(0.0)),
 (4659, np.float64(0.02934836354418746)),
 (4658, np.float64(0.0)),
 (4657, np.float64(0.07845986714489121)),
 (4656, np.float64(0.018493168036382727)),
 (4655, np.float64(0.03594425773447948)),
 (4654, np.float64(0.07874992309581577)),
 (4653, np.float64(0.0)),
 (4652, np.float64(0.05763904177042349)),
 (4651, np.float64(0.038124642583151166)),
 (4650, np.float64(0.0)),
 (4649, np.float64(0.0)),
 (4648, np.float64(0.01737882498437427)),
 (4647, np.float64(0.02037847864848056)),
 (4646, np.float64(0.036986336072765455)),
 (4645, np.float64(0.0)),
 (4644, np.float64(0.0)),
 (4643, np.float64(0.036986336072765455)),
 (4642, np.float64(0.03179815003744467)),
 (4641, np.float64(0.07624928516630233)),
 (4640, np.float64(0.06976744186046512)),
 (4639, np.float64(0.0)),
 (4638, np.float64(0.0650256088762355)),
 (4637, np.float64(0.0)),
 (4636, np.float64(0.053916386601719206)),
 (4635, np.float64(0.034099716973523674)),
 (4634, np.float64(0.02178551004751495)),
 (4633, np.float64(0.02831827358942995)),
 (4632, np.float64(0.03179815003744467)),
 (4631, np.float64(0.0)),
 (4630, np.float64(0.03251280443811775)),
 (4629, np.float64(0.027842302319485226)),
 (4628, np.float64(0.0)),
 (4627, np.float64(0.03842602784694899)),
 (4626, np.float64(0.07733088933397005)),
 (4625, np.float64(0.0)),
 (4624, np.float64(0.07325794357582566)),
 (4623, np.float64(0.0650256088762355)),
 (4622, np.float64(0.06099942813304187)),
 (4621, np.float64(0.0)),
 (4620, np.float64(0.024419314525275217)),
 (4619, np.float64(0.042295493443781355)),
 (4618, np.float64(0.02577696311132335)),
 (4617, np.float64(0.0)),
 (4616, np.float64(0.0)),
 (4615, np.float64(0.0)),
 (4614, np.float64(0.0)),
 (4613, np.float64(0.0)),
 (4612, np.float64(0.0)),
 (4611, np.float64(0.030499714066520935)),
 (4610, np.float64(0.0)),
 (4609, np.float64(0.0)),
 (4608, np.float64(0.0)),
 (4607, np.float64(0.03970724559546876)),
 (4606, np.float64(0.039374961547907886)),
 (4605, np.float64(0.024738534799764674)),
 (4604, np.float64(0.03179815003744467)),
 (4603, np.float64(0.0)),
 (4602, np.float64(0.050832856777534886)),
 (4601, np.float64(0.0)),
 (4600, np.float64(0.019367337799588276)),
 (4599, np.float64(0.0)),
 (4598, np.float64(0.0)),
 (4597, np.float64(0.022244202665006454)),
 (4596, np.float64(0.04075695729696112)),
 (4595, np.float64(0.0)),
 (4594, np.float64(0.0)),
 (4593, np.float64(0.0)),
 (4592, np.float64(0.0)),
 (4591, np.float64(0.05763904177042349)),
 (4590, np.float64(0.04496937504132879)),
 (4589, np.float64(0.022733144649015782)),
 (4588, np.float64(0.0)),
 (4587, np.float64(0.07874992309581577)),
 (4586, np.float64(0.0)),
 (4585, np.float64(0.0)),
 (4584, np.float64(0.0)),
 (4583, np.float64(0.0)),
 (4582, np.float64(0.04933303124557308)),
 (4581, np.float64(0.03179815003744467)),
 (4580, np.float64(0.02990743022772896)),
 (4579, np.float64(0.027389551783238836)),
 (4578, np.float64(0.05230657809659414)),
 (4577, np.float64(0.0)),
 (4576, np.float64(0.022484687520664393)),
 (4575, np.float64(0.0)),
 (4574, np.float64(0.016074760739013736)),
 (4573, np.float64(0.03594425773447948)),
 (4572, np.float64(0.0)),
 (4571, np.float64(0.0)),
 (4570, np.float64(0.02831827358942995)),
 (4569, np.float64(0.027842302319485226)),
 (4568, np.float64(0.06819943394704735)),
 (4567, np.float64(0.0)),
 (4566, np.float64(0.0566365471788599)),
 (4565, np.float64(0.013921151159742613)),
 (4564, np.float64(0.04075695729696112)),
 (4563, np.float64(0.0)),
 (4562, np.float64(0.0)),
 (4561, np.float64(0.0)),
 (4560, np.float64(0.07963978098028485)),
 (4559, np.float64(0.03671734096770157)),
 (4558, np.float64(0.07233642332556181)),
 (4557, np.float64(0.038124642583151166)),
 (4556, np.float64(0.0)),
 (4555, np.float64(0.036986336072765455)),
 (4554, np.float64(0.03327791628198609)),
 (4553, np.float64(0.023531040266750586)),
 (4552, np.float64(0.04004808657316366)),
 (4551, np.float64(0.0)),
 (4550, np.float64(0.0)),
 (4549, np.float64(0.023816275411477048)),
 (4548, np.float64(0.0)),
 (4547, np.float64(0.0)),
 (4546, np.float64(0.0)),
 (4545, np.float64(0.09049125308576025)),
 (4544, np.float64(0.0)),
 (4543, np.float64(0.02615328904829707)),
 (4542, np.float64(0.0650256088762355)),
 (4541, np.float64(0.0)),
 (4540, np.float64(0.050141221056390024)),
 (4539, np.float64(0.0)),
 (4538, np.float64(0.1320676359488436)),
 (4537, np.float64(0.0)),
 (4536, np.float64(0.026958193300859603)),
 (4535, np.float64(0.028819520885211745)),
 (4534, np.float64(0.0)),
 (4533, np.float64(0.04075695729696112)),
 (4532, np.float64(0.03179815003744467)),
 (4531, np.float64(0.0)),
 (4530, np.float64(0.046511627906976744)),
 (4529, np.float64(0.011871997599007448)),
 (4528, np.float64(0.04075695729696112)),
 (4527, np.float64(0.0)),
 (4526, np.float64(0.0)),
 (4525, np.float64(0.041894579244510795)),
 (4524, np.float64(0.024112141108520606)),
 (4523, np.float64(0.0)),
 (4522, np.float64(0.013076644524148535)),
 (4521, np.float64(0.0)),
 (4520, np.float64(0.0)),
 (4519, np.float64(0.04947706959952935)),
 (4518, np.float64(0.0)),
 (4517, np.float64(0.0)),
 (4516, np.float64(0.08459098688756271)),
 (4515, np.float64(0.0)),
 (4514, np.float64(0.027842302319485226)),
 (4513, np.float64(0.0)),
 (4512, np.float64(0.04822428221704121)),
 (4511, np.float64(0.025416428388767443)),
 (4510, np.float64(0.025070610528195012)),
 (4509, np.float64(0.0)),
 (4508, np.float64(0.0)),
 (4507, np.float64(0.0)),
 (4506, np.float64(0.07624928516630233)),
 (4505, np.float64(0.026546593660094948)),
 (4504, np.float64(0.0)),
 (4503, np.float64(0.0)),
 (4502, np.float64(0.08151391459392224)),
 (4501, np.float64(0.0)),
 (4500, np.float64(0.0)),
 (4499, np.float64(0.0)),
 (4498, np.float64(0.024738534799764674)),
 (4497, np.float64(0.0)),
 (4496, np.float64(0.03594425773447948)),
 (4495, np.float64(0.0)),
 (4494, np.float64(0.0)),
 (4493, np.float64(0.0)),
 (4492, np.float64(0.07397267214553091)),
 (4491, np.float64(0.0)),
 (4490, np.float64(0.08972229068318688)),
 (4489, np.float64(0.01495371511386448)),
 (4488, np.float64(0.0)),
 (4487, np.float64(0.020947289622255397)),
 (4486, np.float64(0.030499714066520935)),
 (4485, np.float64(0.02615328904829707)),
 (4484, np.float64(0.019687480773953943)),
 (4483, np.float64(0.06819943394704735)),
 (4482, np.float64(0.02934836354418746)),
 (4481, np.float64(0.0)),
 (4480, np.float64(0.0)),
 (4479, np.float64(0.0)),
 (4478, np.float64(0.0)),
 (4477, np.float64(0.036986336072765455)),
 (4476, np.float64(0.0)),
 (4475, np.float64(0.0)),
 (4474, np.float64(0.03498557142706597)),
 (4473, np.float64(0.06997114285413195)),
 (4472, np.float64(0.0914991421995628)),
 (4471, np.float64(0.03783023939287672)),
 (4470, np.float64(0.0)),
 (4469, np.float64(0.025070610528195012)),
 (4468, np.float64(0.10618637464037979)),
 (4467, np.float64(0.026958193300859603)),
 (4466, np.float64(0.036986336072765455)),
 (4465, np.float64(0.0)),
 (4464, np.float64(0.0)),
 (4463, np.float64(0.03327791628198609)),
 (4462, np.float64(0.0)),
 (4461, np.float64(0.0)),
 (4460, np.float64(0.036986336072765455)),
 (4459, np.float64(0.04883862905055043)),
 (4458, np.float64(0.05230657809659414)),
 (4457, np.float64(0.0)),
 (4456, np.float64(0.0)),
 (4455, np.float64(0.0)),
 (4454, np.float64(0.0)),
 (4453, np.float64(0.039374961547907886)),
 (4452, np.float64(0.0)),
 (4451, np.float64(0.041125806057633246)),
 (4450, np.float64(0.022484687520664393)),
 (4449, np.float64(0.0)),
 (4448, np.float64(0.042115893934193446)),
 (4447, np.float64(0.0)),
 (4446, np.float64(0.02178551004751495)),
 (4445, np.float64(0.0)),
 (4444, np.float64(0.0)),
 (4443, np.float64(0.05981486045545792)),
 (4442, np.float64(0.0)),
 (4441, np.float64(0.0)),
 (4440, np.float64(0.0)),
 (4439, np.float64(0.0)),
 (4438, np.float64(0.0)),
 (4437, np.float64(0.03179815003744467)),
 (4436, np.float64(0.0)),
 (4435, np.float64(0.0)),
 (4434, np.float64(0.02990743022772896)),
 (4433, np.float64(0.02990743022772896)),
 (4432, np.float64(0.0)),
 (4431, np.float64(0.06997114285413195)),
 (4430, np.float64(0.0)),
 (4429, np.float64(0.07091039485189418)),
 (4428, np.float64(0.0)),
 (4427, np.float64(0.041504853757646024)),
 (4426, np.float64(0.0)),
 (4425, np.float64(0.0)),
 (4424, np.float64(0.0)),
 (4423, np.float64(0.0)),
 (4422, np.float64(0.023816275411477048)),
 (4421, np.float64(0.03112864031823452)),
 (4420, np.float64(0.027842302319485226)),
 (4419, np.float64(0.0)),
 (4418, np.float64(0.0)),
 (4417, np.float64(0.0)),
 (4416, np.float64(0.0)),
 (4415, np.float64(0.0)),
 (4414, np.float64(0.03251280443811775)),
 (4413, np.float64(0.022484687520664393)),
 (4412, np.float64(0.06819943394704735)),
 (4411, np.float64(0.0)),
 (4410, np.float64(0.025070610528195012)),
 (4409, np.float64(0.0)),
 (4408, np.float64(0.0566365471788599)),
 (4407, np.float64(0.0)),
 (4406, np.float64(0.026958193300859603)),
 (4405, np.float64(0.1760901812651248)),
 (4404, np.float64(0.0)),
 (4403, np.float64(0.08804509063256238)),
 (4402, np.float64(0.02831827358942995)),
 (4401, np.float64(0.024112141108520606)),
 (4400, np.float64(0.036986336072765455)),
 (4399, np.float64(0.042295493443781355)),
 (4398, np.float64(0.0220112726581406)),
 (4397, np.float64(0.01985362279773438)),
 (4396, np.float64(0.0)),
 (4395, np.float64(0.0)),
 (4394, np.float64(0.0)),
 (4393, np.float64(0.0)),
 (4392, np.float64(0.06406221326384731)),
 (4391, np.float64(0.0)),
 (4390, np.float64(0.03498557142706597)),
 (4389, np.float64(0.023531040266750586)),
 (4388, np.float64(0.017267062892749263)),
 (4387, np.float64(0.0)),
 (4386, np.float64(0.0)),
 (4385, np.float64(0.0)),
 (4384, np.float64(0.04075695729696112)),
 (4383, np.float64(0.03288868749704872)),
 (4382, np.float64(0.03569721523499571)),
 (4381, np.float64(0.0)),
 (4380, np.float64(0.023255813953488372)),
 (4379, np.float64(0.0)),
 (4378, np.float64(0.0)),
 (4377, np.float64(0.050832856777534886)),
 (4376, np.float64(0.0)),
 (4375, np.float64(0.039374961547907886)),
 (4374, np.float64(0.0)),
 (4373, np.float64(0.0)),
 (4372, np.float64(0.04496937504132879)),
 (4371, np.float64(0.022244202665006454)),
 (4370, np.float64(0.0)),
 (4369, np.float64(0.04706208053350117)),
 (4368, np.float64(0.03594425773447948)),
 (4367, np.float64(0.0)),
 (4366, np.float64(0.0)),
 (4365, np.float64(0.038124642583151166)),
 (4364, np.float64(0.0)),
 (4363, np.float64(0.0)),
 (4362, np.float64(0.038124642583151166)),
 (4361, np.float64(0.0)),
 (4360, np.float64(0.0)),
 (4359, np.float64(0.04075695729696112)),
 (4358, np.float64(0.05718696387472675)),
 (4357, np.float64(0.05763904177042349)),
 (4356, np.float64(0.0)),
 (4355, np.float64(0.05869672708837492)),
 (4354, np.float64(0.0)),
 (4353, np.float64(0.08151391459392224)),
 (4352, np.float64(0.0)),
 (4351, np.float64(0.06099942813304187)),
 (4350, np.float64(0.0)),
 (4349, np.float64(0.027389551783238836)),
 (4348, np.float64(0.1143739277494535)),
 (4347, np.float64(0.0)),
 (4346, np.float64(0.0)),
 (4345, np.float64(0.0)),
 (4344, np.float64(0.0)),
 (4343, np.float64(0.0880450906325624)),
 (4342, np.float64(0.0)),
 (4341, np.float64(0.06976744186046512)),
 (4340, np.float64(0.0)),
 (4339, np.float64(0.050141221056390024)),
 (4338, np.float64(0.0)),
 (4337, np.float64(0.0)),
 (4336, np.float64(0.160930171455096)),
 (4335, np.float64(0.020947289622255397)),
 (4334, np.float64(0.0)),
 (4333, np.float64(0.039374961547907886)),
 (4332, np.float64(0.034099716973523674)),
 (4331, np.float64(0.08804509063256238)),
 (4330, np.float64(0.054681196243236696)),
 (4329, np.float64(0.04883862905055043)),
 (4328, np.float64(0.0)),
 (4327, np.float64(0.024738534799764674)),
 (4326, np.float64(0.03569721523499571)),
 (4325, np.float64(0.04448840533001291)),
 (4324, np.float64(0.027389551783238836)),
 (4323, np.float64(0.023816275411477048)),
 (4322, np.float64(0.0)),
 (4321, np.float64(0.0)),
 (4320, np.float64(0.05763904177042349)),
 (4319, np.float64(0.02990743022772896)),
 (4318, np.float64(0.0)),
 (4317, np.float64(0.02178551004751495)),
 (4316, np.float64(0.07733088933397005)),
 (4315, np.float64(0.0)),
 (4314, np.float64(0.017727598712973545)),
 (4313, np.float64(0.02990743022772896)),
 (4312, np.float64(0.05981486045545792)),
 (4311, np.float64(0.0)),
 (4310, np.float64(0.03970724559546876)),
 (4309, np.float64(0.0)),
 (4308, np.float64(0.0)),
 (4307, np.float64(0.0)),
 (4306, np.float64(0.0)),
 (4305, np.float64(0.03783023939287672)),
 (4304, np.float64(0.0)),
 (4303, np.float64(0.0)),
 (4302, np.float64(0.0)),
 (4301, np.float64(0.0)),
 (4300, np.float64(0.03251280443811775)),
 (4299, np.float64(0.023531040266750586)),
 (4298, np.float64(0.0)),
 (4297, np.float64(0.02990743022772896)),
 (4296, np.float64(0.0)),
 (4295, np.float64(0.0)),
 (4294, np.float64(0.0)),
 (4293, np.float64(0.053916386601719206)),
 (4292, np.float64(0.0)),
 (4291, np.float64(0.0)),
 (4290, np.float64(0.0650256088762355)),
 (4289, np.float64(0.0)),
 (4288, np.float64(0.022733144649015782)),
 (4287, np.float64(0.02178551004751495)),
 (4286, np.float64(0.022244202665006454)),
 (4285, np.float64(0.0)),
 (4284, np.float64(0.02615328904829707)),
 (4283, np.float64(0.02615328904829707)),
 (4282, np.float64(0.03498557142706597)),
 (4281, np.float64(0.0440225453162812)),
 (4280, np.float64(0.022244202665006454)),
 (4279, np.float64(0.07624928516630233)),
 (4278, np.float64(0.0)),
 (4277, np.float64(0.0361965012343041)),
 (4276, np.float64(0.0)),
 (4275, np.float64(0.0)),
 (4274, np.float64(0.0)),
 (4273, np.float64(0.0)),
 (4272, np.float64(0.0)),
 (4271, np.float64(0.05981486045545792)),
 (4270, np.float64(0.053093187320189895)),
 (4269, np.float64(0.0)),
 (4268, np.float64(0.0)),
 (4267, np.float64(0.0)),
 (4266, np.float64(0.07233642332556181)),
 (4265, np.float64(0.020198929081169423)),
 (4264, np.float64(0.039374961547907886)),
 (4263, np.float64(0.045980048987170286)),
 (4262, np.float64(0.023816275411477048)),
 (4261, np.float64(0.045980048987170286)),
 (4260, np.float64(0.0)),
 (4259, np.float64(0.036986336072765455)),
 (4258, np.float64(0.024112141108520606)),
 (4257, np.float64(0.05477910356647767)),
 (4256, np.float64(0.0)),
 (4255, np.float64(0.0)),
 (4254, np.float64(0.08972229068318688)),
 (4253, np.float64(0.0)),
 (4252, np.float64(0.0)),
 (4251, np.float64(0.0)),
 (4250, np.float64(0.012797395739001835)),
 (4249, np.float64(0.0)),
 (4248, np.float64(0.022990024493585143)),
 (4247, np.float64(0.03726133120533049)),
 (4246, np.float64(0.03498557142706597)),
 (4245, np.float64(0.0)),
 (4244, np.float64(0.0440225453162812)),
 (4243, np.float64(0.0)),
 (4242, np.float64(0.027500666039821077)),
 (4241, np.float64(0.039374961547907886)),
 (4240, np.float64(0.0)),
 (4239, np.float64(0.0)),
 (4238, np.float64(0.02037847864848056)),
 (4237, np.float64(0.0)),
 (4236, np.float64(0.047632550822954096)),
 (4235, np.float64(0.03970724559546876)),
 (4234, np.float64(0.07188851546895896)),
 (4233, np.float64(0.015729026546513935)),
 (4232, np.float64(0.045980048987170286)),
 (4231, np.float64(0.0)),
 (4230, np.float64(0.0)),
 (4229, np.float64(0.0)),
 (4228, np.float64(0.11908137705738524)),

In [42]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:6]

    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [43]:
recommend('Batman Begins')

The Dark Knight
Batman
The Dark Knight Rises
Batman
Rockaway

In [44]:
import pickle

In [45]:
pickle.dump(new_df,open('movies.pkl', 'wb'))

In [46]:
new_df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], shape=(4806,), dtype=object)

In [47]:
# import bz2
# with bz2.BZ2File("similarity.pkl.bz", "wb") as f:
#     pickle.dump(similarity, f)

import gzip
with gzip.open('similarity.pkl.gz', 'wb') as f:
    pickle.dump(similarity, f)